# Add Columns

### New Feature -- AgeGroup

In [16]:
# Define age_division
def age_to_age_division(age):
    if age<=34             : return 0
    if (35<=age)&(age<=39) : return 1
    if (40<=age)&(age<=44) : return 2
    if (45<=age)&(age<=49) : return 3
    if (50<=age)&(age<=54) : return 4
    if (55<=age)&(age<=59) : return 5
    if (60<=age)&(age<=64) : return 6
    if (65<=age)&(age<=69) : return 7
    if (70<=age)&(age<=74) : return 8
    if (75<=age)&(age<=79) : return 9
    if age>=80             : return 10
    
age_division = df['age'].apply(age_to_age_division)

df.insert(14, 'age_division', value=age_division)

In [17]:
df[['age', 'age_division']].head(8)

   age  age_division
0   47             3
1   33             0
2   41             2
3   24             0
4   40             2
5   29             0
6   28             0
7   29             0

### New Features -- avgSpeed*

In [18]:
milestones = [['5k', '10k', '20k', '25k', '30k', '35k', '40k'],
              [ 5,    10,    20,    25,    30,    35,    40]]
loc = 10
for i, j in zip(*milestones):
    values = df[i] / j
    df.insert(loc, i+'_avgSpeed', values)
    loc += 1

In [19]:
df.head(8)

,5k,10k,20k,half,25k,30k,35k,40k,official,pace,5k_avgSpeed,10k_avgSpeed,20k_avgSpeed,25k_avgSpeed,30k_avgSpeed,35k_avgSpeed,40k_avgSpeed,rank_overall,rank_in_gender_only,rank_in_division,age,age_division,gender,country,state
0,8.02,17.37,37.65,39.72,47.67,59.18,71.40,80.43,85.25,3.27,1.604,1.737,1.8825,1.9068,1.972667,2.040000,2.01075,8,8,8,47,3,M,JPN,others
1,16.22,32.58,65.83,69.47,82.43,99.33,116.37,132.10,138.95,5.30,3.244,3.258,3.2915,3.2972,3.311000,3.324857,3.30250,21,1,1,33,0,F,KEN,others
2,7.75,16.62,36.10,38.03,45.80,56.45,67.42,76.10,80.60,3.08,1.550,1.662,1.8050,1.8320,1.881667,1.926286,1.90250,1,1,1,41,2,M,RSA,others
3,16.20,32.57,65.83,69.47,82.43,99.33,116.37,132.95,140.58,5.37,3.240,3.257,3.2915,3.2972,3.311000,3.324857,3.32375,27,3,3,24,0,F,ETH,others
4,8.02,17.12,36.58,38.60,46.37,57.03,67.83,76.72,81.23,3.10,1.604,1.712,1.8290,1.8548,1.901000,1.938000,1.91800,2,2,2,40,2,M,JPN,others
5,16.22,32.58,65.83,69.47,82.45,99.33,116.37,132.95,140.68,5.37,3.244,3.258,3.2915,3.2980,3.311000,3.324857,3.32375,28,4,4,29,0,F,KEN,others
6,8.38,17.65,37.65,39.72,47.67,58.60,70.23,79.83,84.65,3.23,1.676,1.765,1.8825,1.9068,1.953333,2.006571,1.99575,4,4,4,28,0,M,SUI,others
7,15.17,30.48,61.62,64.85,76.95,92.52,107.47,122.80,129.83,4.97,3.034,3.048,3.0810,3.0780,3.084000,3.070571,3.07000,5,5,5,29,0,M,ETH,others

In [20]:
profile = ProfileReport(df, title='Profiling Report -- Boston Marathon 2014', explorative=True)
profile.to_file("Boston_2014_Profiling.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=39.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [24]:
list(df.select_dtypes(include=numerics).columns.values)

['5k',
 '10k',
 '20k',
 'half',
 '25k',
 '30k',
 '35k',
 '40k',
 'official',
 'pace',
 'age']